@charset "UTF-8";

body {
	height: 100%;
	margin: 0 auto;
	max-width: 900px;	
}
header {
	max-width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
 	align-items: center;
	justify-content: center;
	background-color: #90CAF9;
}
.icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.detail_content_head {
	max-width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E3F2FD;
}
.detail_content_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
}
.detail_content_title {
	display: flex;
	justify-content: center;
	height: 35px; 
	background-color: #E5E7E9;
}
.detail_content_field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px; 
	background-color: #F2F3F4;
}
.detail_content_message {
	display: flex;
	justify-content: center;
	height: 30px; 
	background-color: #F2F3F4;
	color: red;
}
.menubar {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.button {
	width: 125px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #F44336;
	font-size: 1.25rem;
 	border-radius: 5px;
 	margin: 0 5px;
 	cursor: pointer;		
}
footer {
	max-width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
	background-color: #90CAF9;
}
